.homePageContainer {
  width: 50vw;
  min-height: 50vh;
  height: fit-content;
  margin-block: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.homePageContainer_pageHeading {
  color: grey;
}
.homePageContainer_postBox {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  padding: 2vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  box-shadow: 0 -20px 10px -20px rgba(0, 0, 0, 0.45) inset,
    20px 0 10px -20px rgba(0, 0, 0, 0.45) inset;
}
.homePageContainer_postBox_postImg {
  width: 50%;
  border-radius: 10px;
}
.homePageContainer_postBox_postText {
  font-size: 1rem;
  font-style: italic;
}
