.displayUser {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5%;
}
.displayUser_opHeading {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  color: rgb(164, 164, 164);
  margin-bottom: 2%;
}
.displayUser_profilePic {
  height: 70%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.displayUser_fullname {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: 700;
}
.displayUser_btn {
  font-size: 0.8rem;
  margin-top: 10px;
  padding: 0.3rem 2rem;
  background-color: rgb(226, 226, 226);
  color: black;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.displayUser_btn:hover {
  background-color: grey;
  color: white;
}
